/*------------------------------------*\
****************************************


INDHOLDSFORTEGNELSE:
********************

1: VARIABLER
2. LAYOUT
3. TYPOGRAFI
4. HEADER
5. FOOTER
6. KNAPPER
7. STYLING AF SPECIFIKKE SIDER
    7.1 FORSIDE
    7.2 Single/"Detalje"
8. MEDIA QUERIES


****************************************
\*------------------------------------*/


/*------------------------------------*\
1: VARIABLER
\*------------------------------------*/

:root {
    --colorOne: #1a1a1a;
    --colorTwo: #006E64;
    --colorThree: #FFA541;
    --colorFour: rgb(244, 242, 239);
    --colorFive: #E7F5F1;
    --colorSix: #1a1a1a;


    /*Grønne farve - tidligere anvendt*/
    --colorNine: rgb(0, 132, 137);
}


/*------------------------------------*\
1. VARIABLER - SLUT
\*------------------------------------*/




/*------------------------------------*\
2. LAYOUT
\*------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

img {
    width: 100%;
    height: auto;

}


/*------------------------------------*\
2. LAYOUT - SLUT
\*------------------------------------*/

/*------------------------------------*\
3. TYPOGRAFI
\*------------------------------------*/

/* @font-face */

@font-face {
    font-family: 'Inter', Helvetica, Arial, Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter', Helvetica, Arial, Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url("fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
        url("fonts/Inter/Inter-SemiBold.woff") format("woff");
}


@font-face {
    font-family: 'kontrapunkt_mikiregular';
    src: url('fonts/kontrapunkt_miki/kontrapunktmiki-regular-webfont.woff2') format('woff2'),
        url('fonts/kontrapunkt_miki/kontrapunktmiki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kontrapunkt_mikibold';
    src: url('fonts/kontrapunkt_miki/kontrapunktmiki-bold-webfont.woff2') format('woff2'),
        url('fonts/kontrapunkt_miki/kontrapunktmiki-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kontrapunkt_mikiextrabold';
    src: url('fonts/kontrapunkt_miki/kontrapunktmiki-extrabold-webfont.woff2') format('woff2'),
        url('fonts/kontrapunkt_miki/kontrapunktmiki-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Recursive";
    font-weight: 300 900;
    src: url("fonts/recursive/recursive-prop_xprn_weight_slnt_ital--2019_09_05.woff2");
}

@font-face {
    font-family: "recursive-subset";
    font-weight: 300 900;
    src: url("fonts/recursive/recursive-prop_xprn_weight_slnt_ital--2019_09_05--subset-0020_007F.woff2");
}

/* @font-face Slut */

h1 {
    font-family: 'recursive-subset', 'Recursive', sans-serif;
    font-variation-settings: "PROP"0, "XPRN"1, "wght"800, "slnt"-15, "ital"0;
    color: var(--colorTwo);
    font-weight: 800;
    font-size: 2.5rem;

}

h2 {
    font-weight: 800;
    font-size: calc(1.8rem + 0.5vw);
}

h3 {
    font-size: 1.2rem;
}

.topnav p,
h2,
h3 {
    font-family: "kontrapunkt_mikibold";
    font-weight: 800;
    padding: 1rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    padding: 1rem;

}

button {
    margin: 1rem;
    display: block;
    background-color: white;
    border-color: var(--colorTwo);
    color: var(--colorTwo);
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

h2,
h3 {
    line-height: 1.2;
    padding: 2rem 0;
}

h4 {
    font-family: 'kontrapunkt_mikiregular';


}


article p {
    padding: 2rem 0;
}

.popup-content h2,
.popup-content h3,
.popup-content p {
    padding: 0.5rem 0;
}

/*------------------------------------*\
3. TYPOGRAFI - SLUT
\*------------------------------------*/

/*------------------------------------*\
4. HEADER
\*------------------------------------*/

.site_header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--colorTwo);
}

.topnav {
    max-width: 1400px;
    margin: auto;
}

.topnav p {
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 1400px;
    color: white;
}

/* logo */

.logo {
    cursor: pointer;
    max-height: 60px;
    padding: 0 20px;

}

header figure {
    /*    padding: 10px;*/
    max-width: 60px;
    /*    margin: 10px 10px;*/
}

figure {
    /*    margin: auto 5px;*/
    padding: 0;
}

.logo img {
    padding: 10px;
}




/* logo - slut */


/* Styling af link i navigations bar */
a.hjem {
    color: var(--colorTwo);
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
}

a.hjem p:hover,
a.hjem p:active {
    color: var(--colorThree);

}

/*------------------------------------*\
4. HEADER - SLUT
\*------------------------------------*/



/*------------------------------------*\
5. FOOTER
\*------------------------------------*/

footer {
    background: var(--colorTwo);
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

footer section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.github_link {
    text-decoration: none;
    cursor: pointer;
}

.social_links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}


.social_links .fa {
    font-size: 24px;
    color: white;
    padding: 1rem;
    cursor: pointer;

}

.social_links .fa:hover {
    color: var(--colorThree);

}


.tid_antal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tilberedningstid .fa,
.antal .fa {
    font-size: 24px;
    color: var(--colorTwo);
}

.tilberedningstid,
.antal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*------------------------------------*\
5. FOOTER - SLUT
\*------------------------------------*/


/*------------------------------------*\
6. KNAPPER
\*------------------------------------*/

/* Knap: Tilbage til toppen */
.tilbage {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.top_link {
    display: block;
    padding: 2rem 1rem;
    margin-left: auto;
}

.top_link a {
    padding: 1rem 0;
    margin-left: auto;
    text-decoration: none;
    color: var(--colorTwo);
}

.top_link h4 {
    font-family: 'recursive-subset', 'Recursive', sans-serif;
    font-variation-settings: "PROP"0, "XPRN"1, "wght"600, "slnt"0, "ital"0;


}

.top_link h4:hover {
    font-variation-settings: "PROP"0, "XPRN"1, "wght"800, "slnt"0, "ital"0;
    transform: translateY(-0.1rem);

}




/* Knap: Tilbage til toppen SLUT*/

/*------------------------------------*\
6. KNAPPER - SLUT
\*------------------------------------*/


/*------------------------------------*\
7. STYLING AF SPECIFIKKE SIDER
\*------------------------------------*/

/*------------------------------------*\
7.1 FORSIDE
\*------------------------------------*/


/*
.sortering {
    display: flex;
    margin-left: 1rem;
}
*/

.sortering button {
    border-style: none;
    padding: 0 1rem;
    margin-right: 1rem;
    margin-left: auto;
}

.sortering button:hover {
    color: var(--colorThree);
}


.dropdown {
    height: 100%;
    display: block;
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    padding: 1rem 0;
}

.dropbtn {
    border: none;
    outline: none;
    color: var(--colorTwo);
    font-size: 1rem;
    padding: 1rem;
    background-color: inherit;
    text-decoration: underline;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}

.dropbtn {
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .sortering {
    display: block;
}

.sortering {
    display: none;
    position: absolute;
    background-color: var(--colorTwo);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 2rem 1rem;
}

.sort {
    background-color: transparent;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 100%;
    font-weight: 300;
}

.valgte_retter {
    margin-top: 4rem;
}

#inddeling {
    margin: 1rem 1rem 0;
    padding: 2rem 0 0;
    text-align: center;
    border-top: 5px solid var(--colorThree);
}

/*------------------------------------*\
7.1 FORSIDE - SLUT
\*------------------------------------*/




/*------------------------------------*\
7.2 Single/"Detalje"
\*------------------------------------*/

#detalje h3,
#detalje article p {
    padding: 0;
}

#detalje h2,
#detalje h3,
#detalje p {
    padding: 0;
}

#detalje article p.lang,
#detalje article p.ingredienser,
#detalje article p.opskrift {
    padding: 0px 0px 20px;
    font-family: 'kontrapunkt_mikiregular';
}

#detalje article p.lang {
    font-family: 'kontrapunkt_mikibold';
}

#detalje article p.fed {
    font-family: 'kontrapunkt_mikibold';
    color: var(--colorTwo);
}

#detalje article p.byline {
    font-family: 'kontrapunkt_mikibold';
    padding: 0.5rem 0;
}

#detalje article p.dato {
    color: var(--colorOne);
    font-family: 'kontrapunkt_mikiregular';
    padding: 0.5rem 0;

}

p.lang {
    padding-top: 2rem;
}

.personer,
.tid {
    font-weight: 400;
    padding: 0;
    color: var(--colorTwo);
    font-size: 0.8rem;
}

.kategori {
    padding: 0;
    margin-bottom: 1rem;
}


#detalje img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}


#detalje {
    top: 0;
    left: 0;
    /*    width: 100vw;*/
    /*    height: 100vh;*/
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

/*
#detalje .cirkel {
    border-radius: 100%;
    margin: 10px;
    background-color: var(--colorTwo);
    width: 2.5rem;
    height: 2.5rem;
}
*/

#detalje button {
    color: var(--colorFour);
}


#detalje .luk {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

#detalje .luk:hover,
#detalje .luk:active {
    color: var(--colorThree);

}


#detalje .luk_pil {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: var(--colorTwo);
    font-family: 'recursive-subset', 'Recursive', sans-serif;
    font-variation-settings: "PROP"0, "XPRN"1, "wght"600, "slnt"0, "ital"0;
    margin: 0;
    padding: 0;
}

#detalje .luk_pil:hover,
#detalje .luk_pil:active {
    font-variation-settings: "PROP"0, "XPRN"1, "wght"800, "slnt"0, "ital"0;
    color: var(--colorThree);
    transition: all 0.25s ease 0s;
    transform: translateX(-0.25rem);

}


.single-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;


    background: ;
    overflow: auto;
    max-width: 800px;
    padding: 2rem;
    margin: auto;

}

.single-content h3 {}

.single-content .cirkel {
    display: flex;
    align-items: center;
    justify-content: center;


}

.single-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-bottom: 1rem;
}


#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 0 1rem 1rem;
}

#detalje article {
    padding: 1rem 2rem;

}

#menu-container img {
    height: 300px;
    object-fit: cover;
}

.single-content .opskrift_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid var(--colorTwo);
    border-bottom: 0.5px solid var(--colorTwo);
    margin: 0 0 2rem;
}


.single-content .fremgang {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*------------------------------------*\
7.2 Single/"Detalje" - SLUT
\*------------------------------------*/




/*------------------------------------*\
7. STYLING AF SPECIFIKKE SIDER  - SLUT
\*------------------------------------*/

/*------------------------------------*\
8: MEDIA QUERIES
\*------------------------------------*/


@media only screen and (min-width: 400px) {

    h1 {
        font-size: calc(2rem + 2vw);
    }

    h2 {
        font-size: calc(1.8rem + 1vw);

    }

    h3 {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 600px) {

    h1 {
        font-size: calc(2.5rem + 5vw);
    }

    h2 {
        font-size: calc(1.8rem + 1vw);

    }

    .menukort-header {
        padding: 1.5rem 0;
    }
}




/*------------------------------------*\
8: MEDIA QUERIES - SLUT
\*------------------------------------*/

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

main,
nav {
    max-width: 1400px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;

}

.filter {
    min-width: 150px;
}

.filter:hover {
    background-color: var(--colorFive);
}

.menukort-header {
    text-align: center;
    margin: 5rem 1rem;

}

.menukort-header h1 {}

.menukort-header h3 {
    font-family: 'recursive-subset', 'Recursive', sans-serif;
    font-variation-settings: "PROP"0, "XPRN"1, "wght"800, "slnt"-15, "ital"0;
    color: var(--colorThree);
    font-weight: 800;
    text-transform: uppercase;
    animation: anim 5s infinite;
    transition: 0.25s;
}

@keyframes anim {
    0% {
        font-variation-settings: "PROP"0, "XPRN"0, "wght"450, "slnt"0, "ital"0;
    }

    50% {
        font-variation-settings: "PROP"0, "XPRN"1, "wght"800, "slnt"-15, "ital"0;
    }

    100% {
        font-variation-settings: "PROP"0, "XPRN"0, "wght"450, "slnt"0, "ital"0;
    }
}

.valgt {
    background-color: var(--colorTwo);
    color: white;
}

.valgt:hover {
    background-color: var(--colorTwo);
    color: var(--colorThree);
}




#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 1rem;
}

#menu-container article {
    cursor: pointer;
}

#menu-container .tid_antal {
    padding-top: 1rem;
}



#menu-container article h3 {
    text-align: center;
    padding: 2rem 0 0;
}

article {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background: var(--colorFour);

}
